.image-cell img {
  width: 200px;
  height: 200px;
  object-fit: cover;

  @media only screen and (max-width: 768px) {
    height: 100px;
  }
  @media only screen and (max-width: 576px) {
    height: 70px;
    width: 70px;
  }
}

.mat-mdc-table {
  background: inherit !important;
  box-shadow: 0 5px 45px 0 rgba(80, 106, 156, 0.17);
  .mat-mdc-header-cell {
    font-size: 16px;
    color: black;
    @media only screen and (max-width: 480px) {
      font-size: 14px;
      padding: 0 4px 0 4px;
    }
  }
}

.mdc-data-table__cell {
  color: black;
  font-size: 16px;
  font-weight: 500;

  @media only screen and (max-width: 480px) {
    padding: 0 4px 0 4px;
  }
}

table {
  border-radius: 25px;
}
