.container {
  max-width: 800px;
  margin: 0 auto;
  padding-top: 3rem;
}

h1 {
  text-align: center;
}

.gradient-custom {
  background: rgb(135, 226, 255);
  background: linear-gradient(
    25deg,
    rgba(135, 226, 255, 1) 0%,
    rgba(154, 255, 236, 1) 52%,
    rgba(228, 204, 255, 1) 100%
  );
}
